name: Android CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build Debug APK
      run: ./gradlew assembleDebug

    # DEĞİŞEN KISIM BURASI
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: my-app-apk
        # "app/build/..." yerine aşağıdaki gibi yıldızlı yazıyoruz.
        # Bu komut "Bütün klasörleri ara ve sonu .apk ile biten her şeyi getir" demektir.
        path: '**/*.apk'
